body {
  margin: 0;
  background: rgb(191, 211, 255);
  display: flex;
  justify-content: center;
}
.content {
  margin: 10%;
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  text-align: center;
}
img {
  width: 50%;
}
.main-container {
  width: 50%;
  height: 90%;
  align-items: center;
  background-color: whitesmoke;
}
